.container{
    padding: 1rem;
    margin: 1rem;
}
.table-scroll{
    /*width:100%; */
    display: block;
    empty-cells: show;

    /* Decoration */
    border-spacing: 0;
    border: 1px solid;
}

.table-scroll thead{
    background-color: #f1f1f1;
    position:relative;
    display: block;
    width:100%;
    overflow-y: scroll;
}

.table-scroll tbody{
    /* Position */
    display: block; position:relative;
    width:100%; overflow-y:scroll;
    /* Decoration */
    border-top: 1px solid rgba(0,0,0,0.2);
}

.table-scroll tr{
    width: 100%;
    display:flex;
}

.table-scroll td,.table-scroll th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1rem;
    text-align:left;
}

/* Other options */

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child{
    flex-basis:40%;
    flex-grow:1;
}

.table-scroll tbody tr:nth-child(2n){
    background-color: rgba(130,130,170,0.1);
}

.body-half-screen{
    max-height: 60vh;
}

.small-col{flex-basis:10%;}

.button-week {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

